@font-face {
    font-family: "pokemon";
    src: url("fonts/PKMN\ RBYGSC.ttf") format("truetype");
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Monoton',
        cursive;
    font-family: 'Montserrat',
        sans-serif;
    background-color: #583e52;

}

.app-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    align-items: center;
}

.app-title>p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #e7ebc5;
}



.display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 23.4rem;
    font-family: 'pokemon',
        sans-serif;

}

.winner-display {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30rem;
    height: 23.4rem;
    font-family: 'pokemon', sans-serif;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background-color: #EEE;

}

.winner-display>img {
    width: 9rem;
    image-rendering: pixelated;
}


.battle-screen {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle {
    width: 30rem;
    height: 17rem;
}

.oponent-display {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 4rem;

}

.oponent-display>div>img {
    width: 8rem;
    height: 8rem;
    padding: 0;
    image-rendering: pixelated;
}

.player-display {
    display: flex;
    justify-content: space-between;
}

.player-display>div>img {
    width: 9rem;
    height: 9rem;
    padding: 0;
    image-rendering: pixelated;
}

.oponent-display>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-display>div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 1rem 0 1rem;
}

.stocks-oponent {
    width: 6rem;
    height: 2rem;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    align-items: flex-end;
}

.stocks-oponent>img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    image-rendering: pixelated;
}

.stocks-player {
    width: 6rem;
    height: 2rem;
    border-bottom: 4px solid #000;
    border-right: 2px solid #000;
    border-bottom-right-radius: 0.3rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.stocks-player>img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    image-rendering: pixelated;
}

.message-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29.2rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.5rem;
    height: auto;
    border: 2px solid #000;
    border-top: 4px solid #000;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.message>p {
    height: 2.5rem;
    width: 28rem;
    font-size: 1.2rem;
    white-space: initial;
}

.choose {
    display: flex;
    width: 30rem;
    height: 3rem;
    gap: 1rem;
}

.play-again {
    display: none;
}


button {
    background-color: #EEE;
    border: 2px solid #000;
    border-radius: 0.5rem;
    font-family: 'pokemon', sans-serif;
    font-weight: 700;
    flex: 1;
}

.play-again>button {
    padding: 1rem 2rem;
    background-color: #e4d88b;

}

.play-again>button:hover {
    background-color: #dcc526;
}

.bulbasaur {
    background-color: #a0fc9b;
}

.bulbasaur:hover span {
    display: none;
}

.bulbasaur:hover:before {
    content: "▶ Chikorita";
}

.charmander {
    background-color: #fdba98;
}

.charmander:hover span {
    display: none;
}

.charmander:hover:before {
    content: "▶ Cyndaquill";
}

.squirtle {
    background-color: #9fc1fc;
}

.squirtle:hover span {
    display: none;
}

.squirtle:hover:before {
    content: "▶ Totodile";
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d2cdd3;
    font-size: 1.4rem;
    gap: 0.3rem;
    font-weight: 700;
}

footer>img {
    width: 1.4rem;
}

footer>a {
    text-decoration: none;
    color: #912f56;
}

footer>a:hover {
    color: #23967f;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: space-around;
    }
    
    .app-title {
        display: none;
    }

    .display {
        width: 20rem;
        height: 13.4rem;
        justify-content: space-around;
        margin: 6rem 0 0 0;
    }

    .winner-display {
        width: 20rem;
        height: 13.4rem;
    }

    .winner-display>img {
        width: 9rem;
        image-rendering: pixelated;
    }


    .battle {
        width: 20rem;
        height: 7rem;
    }

    .oponent-display {
        margin: 0 0.5rem 0 2rem;
    }

    .oponent-display>div>img {
        width: 5rem;
        height: 5rem;
    }


    .player-display>div>img {
        width: 5rem;
        height: 5rem;
        margin: 0 1rem 0 1rem;
    }

    .player-display>div {
        margin: 0 0.5rem 0 0.5rem;
    }

    .stocks-oponent {
        width: 4rem;
        height: 1rem;
    }

    .stocks-oponent>img {
        width: 1rem;
        height: 1rem;
    }

    .stocks-player {
        width: 3rem;
        height: 1rem;
    }

    .stocks-player>img {
        width: 1rem;
        height: 1rem;
    }

    .message-border {
        width: 19.2rem;
        margin: 3rem 0 0 0;
    }

    .message {
        width: 18.5rem;
    }

    .message>p {
        height: 1rem;
        width: 18rem;
        font-size: 0.7rem;
    }

    .choose {
        width: 20rem;
        height: 3rem;
    }


    footer {
        display: none;
    }

}