@font-face {
    font-family: "pokemon";
    src: url("fonts/PKMN\ RBYGSC.ttf") format("truetype");
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 23.4rem;
    font-family: 'pokemon',
        sans-serif;

}

.battle-screen {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle {
    width: 30rem;
    height: 17rem;
    /* border: 2px solid red; */
}

.oponent-display {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 4rem;

}

.oponent-display>div>img {
    width: 8rem;
    height: 8rem;
    padding: 0;
    image-rendering: pixelated;
}

.player-display {
    display: flex;
    justify-content: space-between;
}

.player-display>div>img {
    width: 9rem;
    height: 9rem;
    padding: 0;
    image-rendering: pixelated;
}

.oponent-display>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-display>div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 1rem 0 1rem;
}

.stocks-oponent {
    width: 6rem;
    height: 2rem;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    align-items: flex-end;
}

.stocks-oponent>img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    image-rendering: pixelated;
}

.stocks-player {
    width: 6rem;
    height: 2rem;
    border-bottom: 4px solid #000;
    border-right: 2px solid #000;
    border-bottom-right-radius: 0.3rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.stocks-player>img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    image-rendering: pixelated;
}

.message-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29.2rem;
    /* height: 5.8rem; */
    border: 2px solid #000;
    border-radius: 0.5rem;
    /* margin: 1rem; */
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 5rem; */
    width: 28.5rem;
    height: auto;
    border: 2px solid #000;
    border-top: 4px solid #000;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.message>p {
    height: 2.5rem;
    width: 28rem;
    font-size: 1.2rem;
    white-space: initial;
}

.choose {
    display: flex;
    width: 30rem;
    height: 3rem;
    border: 2px solid red;
    gap: 1rem;
}

button {
    background-color: #EEE;
    border: 2px solid #000;
    border-radius: 0.5rem;
    /* padding: 1rem 2rem; */
    font-family: 'pokemon', sans-serif;
    font-weight: 700;
    flex: 1;
}

button:nth-child(1) {
    background-color: #a0fc9b;
}

button:hover:nth-child(1) span {
    display: none;
}

button:hover:nth-child(1):before {
    content: "▶ Bulbasaur";
}

button:nth-child(2) {
    background-color: #fdba98;
}

button:hover:nth-child(2) span {
    display: none;
}

button:hover:nth-child(2):before {
    content: "▶ Charmander";
}

button:nth-child(3) {
    background-color: #9fc1fc;
}

button:hover:nth-child(3) span {
    display: none;
}

button:hover:nth-child(3):before {
    content: "▶ Squirtle";
}



footer {
    width: 100%;
    background-color: brown;
}